@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: "Miama";
    src: url("../fonts/Miama.otf") format("opentype");
}

:root {
    /* --- Colores --- */
    --color-background: #FEFCF1;
    --color-font: #46230A;

    /* --- Tipografía --- */
    --font-italic: "Miama", cursive;
    --font-normal: "Libre Caslon Display", sans-serif;
    --font-title: "Libre Caslon Text", sans-serif;
}

body {
    background-color: var(--color-background);
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-normal);
    color: var(--color-font);
}



/* -----------------------------------------------------
------------------- Estilos generales ------------------
-------------------------------------------------------- */

/* h1, h2, h3, p, div, img {
    margin: 0;
    padding: 0;
} */

.music-verse .music__text, .music-verse .verse__text p, .music-verse .verse__title, .people__title p, .normal-text {
    font-size: clamp(1rem, -0.781rem + 3.711vw, 2.188rem);
}

.people, .front-page, .people__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sunflower-icon {
    width: clamp(1.063rem, 0.5rem + 1.172vw, 1.438rem);
    height: clamp(1.063rem, 0.5rem + 1.172vw, 1.438rem);
}

.name__text, .cd__invitation h3 {
    font-family: var(--font-italic);
    font-weight: 300;
}

.name__title, .countdown__date p, .countdown__time .time__char, .countdown__time .time__text {
    font-family: var(--font-title);
}

.countdown__date, .countdown__time, .name__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -----------------------------------------------------
---------- Portada principal de la invitación ----------
-------------------------------------------------------- */

.front-page {
    height: 100dvh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/photos/p-main.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
}

.front-page__title {
    font-family: var(--font-italic);
    color: #FFFFFF;
    text-align: center;
    
}

h1 {
    font-size: clamp(2.188rem, 1.25rem + 1.953vw, 2.813rem);
    font-weight: 400;
    color: #FFFFFF;
    margin: 25px 0 10px 0;
}

h2 {
    font-size: clamp(6.25rem, 3.906rem + 4.883vw, 7.813rem);
    font-weight: 100;
    line-height: clamp(7.5rem, 6.094rem + 2.93vw, 8.438rem);
}

h2:nth-child(2) {
    margin-bottom: clamp(0.75rem, -1.875rem + 5.469vw, 2.5rem);
}

/* -----------------------------------------------------
------------- Sección de música y versículo ------------
-------------------------------------------------------- */

.music-verse {
    text-align: center;
}

.music-verse img {
    width: clamp(9.688rem, -10.469rem + 41.992vw, 23.125rem);
    cursor: pointer;
}

.music-verse .verse__text {
    margin: auto;
    width: clamp(19.125rem, -32.531rem + 107.617vw, 53.563rem);
}

/* -----------------------------------------------------
------------ Sección de personas importantes -----------
-------------------------------------------------------- */

.people .line_h {
    width: clamp(15.313rem, -48.906rem + 133.789vw, 58.125rem);
    height: clamp(0.094rem, 0rem + 0.195vw, 0.156rem);
    background: rgb(254,252,241);
    background: linear-gradient(90deg, rgba(254,252,241,1) 0%, rgba(232,176,50,1) 30%, rgba(232,176,50,1) 70%, rgba(254,252,241,1) 100%);
}

.people__title {
    width: clamp(13.25rem, -7.375rem + 42.969vw, 27rem);
}

.name__title p {
    font-size: clamp(0.844rem, 0.234rem + 1.27vw, 1.25rem);
    font-weight: 600;
    margin: 0 clamp(0.313rem, 0.031rem + 0.586vw, 0.5rem);
}

.name__text {
    font-size: clamp(2.188rem, -0.156rem + 4.883vw, 3.75rem);
}

/* -----------------------------------------------------
-------- Sección de invitación y cuenta regresiva ------
-------------------------------------------------------- */

.cd__invitation, .cd__countdown {
    text-align: center;
}

.invitation__us {
    font-size: clamp(1.438rem, -0.906rem + 4.883vw, 3rem);
}

.cd__invitation h3 {
    font-size: clamp(5.938rem, -2.031rem + 16.602vw, 11.25rem);
}

.countdown__text {
    font-weight: 600;
    font-size: clamp(1.375rem, -0.125rem + 3.125vw, 2.375rem);
}

.countdown__date p {
    font-size: clamp(2.625rem, 0.563rem + 4.297vw, 4rem);
}

.countdown__time .time__char {
    font-size: clamp(2rem, 0.031rem + 4.102vw, 3.313rem);
}

.countdown__time .time__text {
    font-size: clamp(0.813rem, 0.531rem + 0.586vw, 1rem);
}

.line_v {
    width: clamp(0.188rem, 0.094rem + 0.195vw, 0.25rem);
    background-color: #CFB893;
}

.countdown__date .line_v {
    height: clamp(2.375rem, 0.688rem + 3.516vw, 3.5rem);
    margin: 0 clamp(0.625rem, -0.313rem + 1.953vw, 1.25rem);
}

.countdown__time .line_v {
    height: clamp(2.625rem, 0.75rem + 3.906vw, 3.875rem);
    margin: 0 clamp(0.438rem, -0.406rem + 1.758vw, 1rem);
}

/* -----------------------------------------------------
----------------- SECCIÓN MEDIA QUERYS -----------------
-------------------------------------------------------- */

@media screen and (min-width:768px) {
    .people__name {
        flex-direction: row;
    }
}

@media screen and (min-width:1024px) {
    
}