@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: "Miama";
    src: url("../fonts/Miama.otf") format("opentype");
}

:root {
    /* --- Colores --- */
    --color-background: #FEFCF1;
    --color-font: #46230A;

    /* --- Tipografía --- */
    --font-italic: "Miama", cursive;
    --font-normal: "Libre Caslon Display", sans-serif;
    --font-title: "Libre Caslon Text", sans-serif;
}

body {
    background-color: var(--color-background);
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-normal);
    color: var(--color-font);
}



/* -----------------------------------------------------
------------------- Estilos generales ------------------
-------------------------------------------------------- */

/* h1, h2, h3, p, div, img {
    margin: 0;
    padding: 0;
} */

.music-verse .music__text, .music-verse .verse__text p, .music-verse .verse__title, .people__title p, .normal__text {
    font-size: clamp(0.875rem, -1.375rem + 4.688vw, 2.375rem);
}

.people, .front-page, .people__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sunflower-icon {
    width: clamp(0.938rem, -0.844rem + 3.711vw, 2.125rem);
    height: clamp(0.938rem, -0.844rem + 3.711vw, 2.125rem);
}

.name__text, .cd__invitation h3 {
    font-family: var(--font-italic);
    font-weight: 300;
}

.name__title, .countdown__date p, .countdown__time .time__char, .countdown__time .time__text {
    font-family: var(--font-title);
}

.countdown__date, .countdown__time, .name__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -----------------------------------------------------
---------- Portada principal de la invitación ----------
-------------------------------------------------------- */

.front-page {
    height: 100dvh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/photos/p-main.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
}

.front-page__title {
    font-family: var(--font-italic);
    color: #FFFFFF;
    text-align: center;
    
}

h2 {
    font-size: 5rem;
    font-weight: 100;
}

.front-page__title p {
    font-size: 4rem;
    margin: 0;
    line-height: 4rem;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    color: #FFFFFF;
}

/* -----------------------------------------------------
------------- Sección de música y versículo ------------
-------------------------------------------------------- */

.music-verse {
    text-align: center;
    margin: clamp(1.375rem, -0.781rem + 4.492vw, 2.813rem) 0;
}

.music-verse img {
    width: clamp(9.125rem, -13.563rem + 47.266vw, 24.25rem);
    cursor: pointer;
}

.music-verse .verse__text {
    margin: auto;
    width: clamp(21.438rem, -35.469rem + 118.555vw, 59.375rem);
}

/* -----------------------------------------------------
------------ Sección de personas importantes -----------
-------------------------------------------------------- */

.people .line_h {
    width: clamp(15.313rem, -48.906rem + 133.789vw, 58.125rem);
    height: clamp(0.094rem, 0rem + 0.195vw, 0.156rem);
    background: rgb(254,252,241);
    background: linear-gradient(90deg, rgba(254,252,241,1) 0%, rgba(232,176,50,1) 30%, rgba(232,176,50,1) 70%, rgba(254,252,241,1) 100%);
}

.people__title {
    width: clamp(11.875rem, -20rem + 66.406vw, 33.125rem);
}

.name__title p {
    font-size: clamp(0.75rem, -0.938rem + 3.516vw, 1.875rem);
    font-weight: 600;
    margin: 0 clamp(0.313rem, 0.031rem + 0.586vw, 0.5rem);
}

.name__text {
    font-size: clamp(1.625rem, -1.938rem + 7.422vw, 4rem);
}

/* -----------------------------------------------------
-------- Sección de invitación y cuenta regresiva ------
-------------------------------------------------------- */

.cd__invitation, .cd__countdown {
    text-align: center;
}

.invitation__us {
    font-size: 23px;
}

.cd__invitation h3 {
    font-size: 95px;
}

.countdown__text {
    font-weight: 600;
    font-size: 22px;
}

.countdown__date p {
    font-size: 42px;
}

.countdown__time .time__char {
    font-size: 32px;
}

.countdown__time .time__text {
    font-size: 13px;
}

.line_v {
    width: 3px;
    background-color: #CFB893;
}

.countdown__date .line_v {
    height: 38px;
    margin: 0 10px;
}

.countdown__time .line_v {
    height: 42px;
    margin: 0 7px;
}

/* -----------------------------------------------------
----------------- SECCIÓN MEDIA QUERYS -----------------
-------------------------------------------------------- */

@media screen and (min-width:768px) {
    h2 {
        font-size: 7rem;
    }

    .front-page__title p {
        font-size: 5.6rem;
        line-height: 5.6rem;
    }
    
    h1 {
        font-size: 2.8rem;
    }

    .people__name {
        flex-direction: row;
    }
}

@media screen and (min-width:1024px) {
    
}