@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: "Miama";
    src: url("../fonts/Miama.otf") format("opentype");
}

:root {
    /* --- Colores --- */
    --color-background: #FEFCF1;
    --color-font: #46230A;
    --color-mainButton: #E8B032;
    --color-bgModal: #0e0e0ebd;
    --color-colorButton: #4B380C;

    /* --- Tipografía --- */
    --font-italic: "Miama", cursive;
    --font-normal: "Libre Caslon Display", sans-serif;
    --font-title: "Libre Caslon Text", sans-serif;
}

body {
    background-color: var(--color-background);
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-normal);
    color: var(--color-font);
}



/* -----------------------------------------------------
------------------- Estilos generales ------------------
-------------------------------------------------------- */

h1, h2, h3, p, div, img, button, iframe {
    margin: 0;
    padding: 0;
}

.music-verse .music__text, .music-verse .verse__text p, .music-verse .verse__title, .people__title p, .normal-text, .dress-code p, .dress-code__white p, .group__activity p, .name__title.name__title--invitation p {
    font-size: clamp(0.938rem, 0.668rem + 1.196vw, 1.625rem);
}

.people, .front-page, .people__name, .ubication__section, .map__section, .group__section, .group__activity, .activity__text, .itinerary, .list__item, footer, .transfer__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sunflower-icon {
    width: clamp(1.25rem, 1.054rem + 0.87vw, 1.75rem);
    height: clamp(1.25rem, 1.054rem + 0.87vw, 1.75rem);
}

.name__text, .cd__invitation h3, .section__title, .ubication__name {
    font-family: var(--font-italic);
    font-weight: 300;
}

.name__title, .countdown__date p, .countdown__time .time__char, .countdown__time .time__text {
    font-family: var(--font-title);
}

.countdown__date, .countdown__time, .name__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sunflower-separator {
    width: clamp(9.688rem, 6.63rem + 13.587vw, 17.5rem);
    cursor: pointer;
}

.icon {
    width: clamp(4.688rem, 3.587rem + 4.891vw, 7.5rem);
}

.bold {
    font-weight: 600;
}

.section__title {
    font-size: clamp(5rem, 4.022rem + 4.348vw, 7.5rem);
}

.block-scroll {
    overflow: hidden;
}

.music-verse, .cd__invitation, .cd__countdown, .dress-code, .gallery, .ubication, .gift, .passes, .kids {
    text-align: center;
}

/* -----------------------------------------------------
--------------------- Margin sizes ---------------------
-------------------------------------------------------- */

.music__text, .gift__text .little-text {
    margin: clamp(1.25rem, 0.663rem + 2.609vw, 2.75rem) 0 clamp(0.875rem, 0.386rem + 2.174vw, 2.125rem) 0;
}

.verse__text p {
    margin: clamp(0.875rem, 0.533rem + 1.522vw, 1.75rem) 0 clamp(0.313rem, 0.043rem + 1.196vw, 1rem) 0;
}

.line_h:first-child, .slideshow-container img {
    margin: clamp(0.875rem, 0.435rem + 1.957vw, 2rem) 0;
}

.countdown__date, .countdown__time {
    margin: clamp(1rem, 0.707rem + 1.304vw, 1.75rem) 0;
}

.name__section .name__title {
    margin: clamp(0.875rem, 0.435rem + 1.957vw, 2rem) 0 clamp(0.625rem, 0.38rem + 1.087vw, 1.25rem) 0;
}

.line_h:last-child, .invitation__us {
    margin-bottom: clamp(1.25rem, 0.761rem + 2.174vw, 2.5rem);
}

h3:nth-child(4) {
    margin-top: clamp(2.813rem, 2.348rem + 2.065vw, 4rem);
}

.invitation__group--text1 p {
    margin: clamp(0.375rem, -0.065rem + 1.957vw, 1.5rem) 0 clamp(0.875rem, 0.484rem + 1.739vw, 1.875rem) 0;
}

.invitation__group--text2 p, .dress-code .icon {
    margin: clamp(1.125rem, 0.832rem + 1.304vw, 1.875rem) 0 clamp(1.375rem, 0.935rem + 1.957vw, 2.5rem) 0;
}

.invitation__group--text1 p, .invitation__group--text2 p, .dress-code__white p {
    line-height: clamp(1.438rem, 1.12rem + 1.413vw, 2.25rem);
}

.dress-code .bold {
    margin: clamp(0.625rem, 0.38rem + 1.087vw, 1.25rem) 0;
}

.sunflower-separator {
    margin: clamp(1.625rem, 1.283rem + 1.522vw, 2.5rem) 0;
}

.music-verse .sunflower-separator {
    margin: 0;
}

.section__title {
    line-height: clamp(5.625rem, 4.402rem + 5.435vw, 8.75rem);
}

.ubication .icon {
    margin-top: clamp(2.5rem, 2.011rem + 2.174vw, 3.75rem);
}

.itinerary__group {
    margin: 24px 0 clamp(0.625rem, 0.38rem + 1.087vw, 1.25rem) 0;
}

.little-text {
    line-height: clamp(1.25rem, 0.957rem + 1.304vw, 2rem);
}

.passes .section__title {
    line-height: clamp(3.75rem, 2.772rem + 4.348vw, 6.25rem);
}

.passes__message p {
    margin: clamp(0.75rem, 0.457rem + 1.304vw, 1.5rem) 0 clamp(0.5rem, 0.402rem + 0.435vw, 0.75rem) 0;
}

#open-gift, #open-passes {
    margin: clamp(1.25rem, 0.957rem + 1.304vw, 2rem) auto;
}

/* -----------------------------------------------------
---------- Portada principal de la invitación ----------
-------------------------------------------------------- */

.front-page {
    height: 100dvh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/photos/p-main.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
}

.front-page__title {
    font-family: var(--font-italic);
    color: #FFFFFF;
    text-align: center;
    animation-name: starting;
    animation-duration: 3s;
    animation-delay: 0S;
}

h1 {
    font-size: clamp(2.188rem, 1.943rem + 1.087vw, 2.813rem);
    font-weight: 400;
    color: #FFFFFF;
    margin: 25px 0 10px 0;
    animation-name: starting;
    animation-duration: 5s;
    animation-delay: 0S;
}

h2 {
    font-size: clamp(6.25rem, 5.639rem + 2.717vw, 7.813rem);
    font-weight: 100;
    line-height: clamp(7.5rem, 7.133rem + 1.63vw, 8.438rem);
}

h2:nth-child(2) {
    margin-bottom: clamp(0.75rem, 0.065rem + 3.043vw, 2.5rem);
}

/* -----------------------------------------------------
------------- Sección de música y versículo ------------
-------------------------------------------------------- */

.music-verse .verse__text {
    margin: auto;
    width: clamp(18rem, 9.391rem + 38.261vw, 40rem);
}

/* -----------------------------------------------------
------------ Sección de personas importantes -----------
-------------------------------------------------------- */

.people .line_h {
    width: clamp(15.313rem, -1.44rem + 74.457vw, 58.125rem);
    height: clamp(0.094rem, 0.069rem + 0.109vw, 0.156rem);
    background: rgb(254,252,241);
    background: linear-gradient(90deg, rgba(254,252,241,1) 0%, rgba(232,176,50,1) 30%, rgba(232,176,50,1) 70%, rgba(254,252,241,1) 100%);
}

.people__title {
    width: clamp(12.5rem, 8.832rem + 16.304vw, 21.875rem);
}

.name__title p {
    font-size: clamp(0.938rem, 0.815rem + 0.543vw, 1.25rem);
    font-weight: 600;
    margin: 0 clamp(0.5rem, 0.451rem + 0.217vw, 0.625rem);
}

.name__text {
    font-size: clamp(2.25rem, 1.565rem + 3.043vw, 3.125rem);
}

/* -----------------------------------------------------
-------- Sección de invitación y cuenta regresiva ------
-------------------------------------------------------- */

.invitation__us {
    font-size: clamp(1.438rem, 0.826rem + 2.717vw, 3rem);
}

.cd__invitation h3 {
    font-size: clamp(5.938rem, 5.082rem + 3.804vw, 8.125rem);
    line-height: clamp(5rem, 4.266rem + 3.261vw, 6.875rem);
}

.cd__invitation .invitation__group--text1 {
    width: clamp(11.125rem, 7.897rem + 14.348vw, 19.375rem);
    margin: 0 auto;
}

.name__title.name__title--invitation img {
    width: clamp(1.313rem, 0.946rem + 1.63vw, 2.25rem);
    height: clamp(1.313rem, 0.946rem + 1.63vw, 2.25rem);
}

.cd__invitation .invitation__group--text2 {
    width: clamp(16.75rem, 11.81rem + 21.957vw, 29.375rem);
    margin: 0 auto;
}

.countdown__text {
    font-weight: 600;
    font-size: clamp(1.375rem, 0.984rem + 1.739vw, 2.375rem);
}

.countdown__date p {
    font-size: clamp(2.625rem, 2.087rem + 2.391vw, 4rem);
}

.countdown__time .time__char {
    font-size: clamp(2rem, 1.486rem + 2.283vw, 3.313rem);
}

.countdown__time .time__text {
    font-size: clamp(0.813rem, 0.739rem + 0.326vw, 1rem);
}

.line_v {
    width: clamp(0.188rem, 0.163rem + 0.109vw, 0.25rem);
    background-color: #CFB893;
}

.countdown__date .line_v {
    height: clamp(2.375rem, 1.935rem + 1.957vw, 3.5rem);
    margin: 0 clamp(0.625rem, 0.38rem + 1.087vw, 1.25rem);
}

.countdown__time .line_v {
    height: clamp(2.625rem, 2.136rem + 2.174vw, 3.875rem);
    margin: 0 clamp(0.438rem, 0.217rem + 0.978vw, 1rem);
}

/* -----------------------------------------------------
------------- Sección código de vestimenta -------------
-------------------------------------------------------- */

.dress-code__white {
    width: clamp(18.125rem, 9.565rem + 38.043vw, 40rem);
    margin: auto;
}

/* -----------------------------------------------------
------------------- Galería de fotos -------------------
-------------------------------------------------------- */

.slideshow-container {
    width: clamp(20.625rem, 12.188rem + 37.5vw, 42.188rem);
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.mySlides img {
    border-radius: 3px;
    height: clamp(13.75rem, 8.125rem + 25vw, 28.125rem);
    object-fit: cover;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: clamp(0.625rem, 0.478rem + 0.652vw, 1rem);
    color: #d69a38e1;
    font-weight: bold;
    font-size: clamp(0.813rem, 0.69rem + 0.543vw, 1.125rem);
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #ddcca496;
}

.dot {
    cursor: pointer;
    height: clamp(0.938rem, 0.815rem + 0.543vw, 1.25rem);
    width: clamp(0.938rem, 0.815rem + 0.543vw, 1.25rem);
    margin: 0 clamp(0.125rem, 0.052rem + 0.326vw, 0.313rem);
    background-color: #dacfbf;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #E8B032;
}

/* -----------------------------------------------------
----------------- Sección de ubicación -----------------
-------------------------------------------------------- */

.ubication__section {
    margin: clamp(1rem, 0.658rem + 1.522vw, 1.875rem) auto clamp(0.625rem, 0.38rem + 1.087vw, 1.25rem) auto;
    width: clamp(22.5rem, 16.63rem + 26.087vw, 37.5rem);
    height: clamp(15.625rem, 12.495rem + 13.913vw, 23.625rem);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/photos/ubication.webp);
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    justify-content: center;
}

.ubication__name {
    font-size: clamp(4.5rem, 3.815rem + 3.043vw, 6.25rem);
    color: #FFFFFF;
}

.main-btn {
    margin: 0 auto;
    border: none;
    background-color: var(--color-mainButton);
    padding: clamp(0.625rem, 0.527rem + 0.435vw, 0.875rem) clamp(0.938rem, 0.766rem + 0.761vw, 1.375rem);
    border-radius: 12px;
    cursor: pointer;
}

.main-btn p {
    color: var(--color-colorButton);
    font-family: var(--font-title);
    font-weight: 300;
    font-size: clamp(0.844rem, 0.734rem + 0.489vw, 1.125rem);
}

.map::backdrop, .gift::backdrop, .passes::backdrop, .transfer::backdrop, .regalo::backdrop {
    background-color: var(--color-bgModal);
}

.map, .gift, .passes, .transfer, .regalo {
    border: none;
    background-color: transparent;
}

.map__section, .gift__section, .passes__section, .transfer__section, .regalo__section {
    justify-content: center;
    position: relative;
    background-color: var(--color-background);
    border-radius: 5px;
}

.map__section {
    width: 89vw;
    height: 94dvh;
    background-color: transparent;
}

.map__section .material-symbols-outlined, .gift__section .material-symbols-outlined, .passes__section .material-symbols-outlined {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    color: var(--color-font);
    margin: 13px 13px 0 0;
    cursor: pointer;
}

.map__section .material-symbols-outlined {
    color: #FFFFFF;
}

.map__section iframe {
    width: 100%;
    height: 86%;
    outline: 1px solid #e2d0c3;
    border-radius: 5px;
}

/* -----------------------------------------------------
----------------- Sección de itinerario ----------------
-------------------------------------------------------- */

.itinerary__group {
    width: clamp(15.625rem, 11.898rem + 16.566vw, 22.5rem);
    display: flex;
    justify-content: space-between;
}

.group__activity {
    width: 95px;
}

.group__activity img {
    width: clamp(4.125rem, 3.651rem + 2.108vw, 5rem);
}

.activity__text {
    justify-content: center;
    height: clamp(3.75rem, 2.801rem + 4.217vw, 5.5rem);
}

.activity__text p {
    font-size: clamp(0.875rem, 0.773rem + 0.452vw, 1.063rem);
}

.group__line.line_v {
    height: 64px;
    background-color: var(--color-font);
    margin-bottom: clamp(0.375rem, 0.239rem + 0.602vw, 0.625rem);
}

/* -----------------------------------------------------
----------------- Sección de regalos -----------------
-------------------------------------------------------- */

.gift__section {
    width: 89vw;
    height: 82dvh;
}

.transfer__section {
    width: 80vw;
    height: 50vh;
}

.transfer__section img {
    width: 20vh;
    height: 20vh;
    border-radius: 12px;
    margin-bottom: 3.2vh;
}

.transfer__number {
    display: flex;
    font-family: var(--font-title);
    align-items: center;
    font-size: 1.622vh;
}

.number__bbva {
    margin: 1.622vh 0;
}

.transfer__number .transfer__number--title {
    font-weight: 600;
    margin-right: 3px;
}

.transfer__number .material-symbols-outlined {
    cursor: pointer;
    font-size: 2.3vh;
    margin-left: 3px;
}

#close-transfer {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    background-color: transparent;
    color: var(--color-font);
    margin: 13px 0 0 13px;
    cursor: pointer;
}

#close-transfer_two {
    border: 1px solid var(--color-colorButton);
    color: var(--color-colorButton);
    margin-top: 24px;
}

.gift__text {
    width: clamp(20.625rem, 10.5rem + 45vw, 46.5rem);
    margin: auto;
}

.little-text {
    font-size: clamp(0.75rem, 0.505rem + 1.087vw, 1.375rem);
}

.gift__section {
    overflow-y: auto;
}

.gift__list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, clamp(8.125rem, 5.19rem + 13.043vw, 15.625rem));
    grid-auto-flow: row;
    gap: clamp(1rem, 0.609rem + 1.739vw, 2rem);
    margin: 30px 0;
}

.list__item {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0px 0px 4px 2px rgba(75,56,12,0.2);
    -webkit-box-shadow: 0px 0px 4px 2px rgba(75,56,12,0.2);
    -moz-box-shadow: 0px 0px 4px 2px rgba(75,56,12,0.2);
    justify-content: space-between;
    cursor: pointer;
}

.list__item:hover {
    transform: scale(1.03);
    transition: .3s;
}

.item__object {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(6.25rem, 5.027rem + 5.435vw, 9.375rem);
    height: clamp(6.25rem, 5.027rem + 5.435vw, 9.375rem);
}

.list__item img {
    width: clamp(3.5rem, 2.791rem + 3.152vw, 5.313rem);
    object-fit: contain;
}

.item__name {
    background-color: var(--color-background);
    border: 1px solid var(--color-colorButton);
    color: var(--color-colorButton);
    width: clamp(5.938rem, 5.326rem + 2.717vw, 7.5rem);
    height: clamp(2.125rem, 1.978rem + 0.652vw, 2.5rem);
    border-radius: 4px;
    font-size: clamp(0.813rem, 0.764rem + 0.217vw, 0.938rem);
    margin-bottom: clamp(0.75rem, 0.677rem + 0.326vw, 0.938rem);
    cursor: pointer;
}

.item__name:hover {
    background-color: var(--color-colorButton);
    color: var(--color-background);
    transition: background-color .4s;
}

/* -----------------------------------------------------
------ Sección pases y confirmación de asistencia ------
-------------------------------------------------------- */

.passes__message {
    width: clamp(19.375rem, 6.413rem + 57.609vw, 52.5rem);
    margin: auto;
}

.passes__section {
    width: 89vw;
    height: 35dvh;
}

/* -----------------------------------------------------
------------- Sección mensaje sobre niños --------------
-------------------------------------------------------- */

.kids__text {
    font-family: var(--font-title);
    background-color: var(--color-colorButton);
    color: var(--color-background);
    font-size: clamp(0.688rem, 0.565rem + 0.543vw, 1rem);
    padding: clamp(0.625rem, 0.527rem + 0.435vw, 0.875rem) 0;
}

.kids__text--section {
    width: clamp(16.875rem, 9.293rem + 33.696vw, 36.25rem);
    margin: auto;
}

.kids__text--section p {
    line-height: clamp(1.375rem, 1.179rem + 0.87vw, 1.875rem);
}

/* -----------------------------------------------------
----------------- Footer y contactos -----------------
-------------------------------------------------------- */

footer {
    justify-content: center;
    padding: clamp(0.188rem, 0.065rem + 0.543vw, 0.5rem) 0;
}

footer a {
    color: var(--color-font);
    margin: clamp(0.5rem, 0.255rem + 1.087vw, 1.125rem);
}

footer p {
    font-size: clamp(0.75rem, 0.677rem + 0.326vw, 0.938rem);
    font-family: var(--font-title);
}

.ic--baseline-whatsapp {
    display: inline-block;
    width: clamp(1.375rem, 1.302rem + 0.326vw, 1.563rem);
    height: clamp(1.375rem, 1.302rem + 0.326vw, 1.563rem);
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19.05 4.91A9.82 9.82 0 0 0 12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01m-7.01 15.24c-1.48 0-2.93-.4-4.2-1.15l-.3-.18l-3.12.82l.83-3.04l-.2-.31a8.26 8.26 0 0 1-1.26-4.38c0-4.54 3.7-8.24 8.24-8.24c2.2 0 4.27.86 5.82 2.42a8.18 8.18 0 0 1 2.41 5.83c.02 4.54-3.68 8.23-8.22 8.23m4.52-6.16c-.25-.12-1.47-.72-1.69-.81c-.23-.08-.39-.12-.56.12c-.17.25-.64.81-.78.97c-.14.17-.29.19-.54.06c-.25-.12-1.05-.39-1.99-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.14-.25-.02-.38.11-.51c.11-.11.25-.29.37-.43s.17-.25.25-.41c.08-.17.04-.31-.02-.43s-.56-1.34-.76-1.84c-.2-.48-.41-.42-.56-.43h-.48c-.17 0-.43.06-.66.31c-.22.25-.86.85-.86 2.07s.89 2.4 1.01 2.56c.12.17 1.75 2.67 4.23 3.74c.59.26 1.05.41 1.41.52c.59.19 1.13.16 1.56.1c.48-.07 1.47-.6 1.67-1.18c.21-.58.21-1.07.14-1.18s-.22-.16-.47-.28'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.mdi--instagram {
    display: inline-block;
    width: clamp(1.375rem, 1.302rem + 0.326vw, 1.563rem);
    height: clamp(1.375rem, 1.302rem + 0.326vw, 1.563rem);
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

/* -----------------------------------------------------
-------------------- Estilos finales -------------------
-------------------------------------------------------- */

.gift__explain {
    width: clamp(18.75rem, 8.478rem + 45.652vw, 45rem);
    margin: 30px auto 0 auto;
}

.gift__explain p {
    font-size: 15px;
}

.litle-note {
    font-size: 13px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #4B380C;
}

/* -----------------------------------------------------
--------------- Media Querys (Responsive) --------------
-------------------------------------------------------- */

@media screen and (min-width:768px) {
    .passes__section {
        width: 60vw;
        height: 35dvh;
    }
}

@media screen and (min-width:821px) {
    .people__name {
        flex-direction: row;
    }
}

@media screen and (min-width:1024px) {
    .name__section {
        animation-name: nameSection;
        animation-duration: 2s;
        animation-fill-mode: both;
        animation-timing-function: linear;
    }

    .itinerary__group {
        width: auto;
        flex-direction: column;
    }

    .group__section {
        flex-direction: row;
    }

    .group__line.line_v {
        height: 4px;
        width: clamp(5.625rem, 4.947rem + 3.012vw, 6.875rem);
        margin: 0 15px;
    }
}

@media screen and (min-width:1025px) {
    .gift__section {
        width: 65vw;
        height: 90dvh;
    }

    .transfer__section {
        width: 35vw;
        height: 55vh;
    }

    .passes__section {
        width: 40vw;
        height: 50dvh;
    }
}

@media screen and (min-width:1280px) {
    .map__section {
        width: 65vw;
        height: 90dvh;
    }
}

/* -----------------------------------------------------
----------------- Animaciones generales ----------------
-------------------------------------------------------- */

@keyframes starting {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes nameSection {
    from {
        margin-left: 100px;
        margin-right: 100px;
    }
    to {
        margin-left: 32px;
        margin-right: 32px;
    }
}